.header {
  width: 100%;
  height: 130px;
  display: flex;
  flex-direction: row;

  border-bottom: 2px solid #000;
  margin-bottom: 30px;
  background-color: #64c4ed;
}

.logo {
  flex-grow: 1;
  display: flex;
}

.logo span {
  display: block;
  font-size: 90px;
  font-weight: 500;
  color: #005792;
  margin-top: 0;
}

.logo h3 {
  display: block;
  flex-basis: 40px;
  font-weight: lighter;
  margin-left: 10px;
  color: #fff;
}

.topnav {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-grow: 1;
}

.topnav ul {
  height: 130px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  list-style: none;
}

li {
  text-transform: uppercase;
  font-weight: bold;
  font-size: 15px;
  margin: 0 15px 0 15px;
}

li a {
  color: #fff;
  text-decoration: none;
  transition: all 0.3s;
}

.active {
  color: #005792;
}

a:hover {
  color: #005792;
}

.icon {
  display: none;
}

/* For medium devices */
@media screen and (max-width: 768px) {
  .layout {
    width: 768px;
  }

  .header {
    max-width: 768px;
    width: 100%;
    margin: auto;
    height: 100px;
    color: white;
    border-radius: 10px;
  }

  .logo {
    flex-grow: 1;
    display: flex;
  }

  .logo span {
    display: block;
    font-size: 90px;
    font-weight: 500;
    color: #005792;
    margin-top: 0;
  }

  .logo h3 {
    display: block;
    flex-basis: 40px;
    font-weight: lighter;
    margin-left: 10px;
    color: #fff;
  }

  .topnav {
    overflow: hidden;
    background-color: #64c4ed;
    position: relative;
  }

  .topnav .myLinks {
    display: flex;
    max-width: 550px !important;
    width: 100%;
  }

  .myLinks ul {
    max-width: 500px;
    width: 100%;
    flex-wrap: nowrap;
  }

  li {
    font-weight: bold;
    font-size: 63%;
    margin: 0 4px 0 4px;
  }
}

/* For small devices */
@media screen and (max-width: 480px) {
  .layout {
    width: 500px;
  }

  .header {
    max-width: 480px;
    width: 100%;
    margin: auto;
    height: 100%;
    color: white;
    border-radius: 10px;
  }

  .logo {
    flex-grow: 1;
    display: flex;
  }

  .logo span {
    display: block;
    font-size: 90px;
    font-weight: 500;
    color: #005792;
    margin-top: 0;
  }

  .logo h3 {
    display: block;
    flex-basis: 40px;
    font-weight: lighter;
    margin-left: 10px;
    color: #fff;
  }

  .topnav {
    overflow: hidden;
    background-color: #64c4ed;
    position: relative;
  }

  ul {
    list-style-type: none;
  }

  .topnav .myLinks {
    display: none;
  }

  .topnav a {
    color: white;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
    display: block;
  }

  .topnav a.icon {
    background-color: #ddd;
    display: block;
    position: absolute;
    right: 0;
    top: 25px;
  }

  .topnav a:hover {
    background-color: #ddd;
    color: black;
  }

  .active {
    background-color: #005792;
    color: #fff;
  }
}
