.home h1 {
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-weight: 400;
  font-size: 65px;
  text-align: justify;
  margin: 10px 20px 10px 20px;
}

.home strong {
  color: #005792;
}

.home h2 {
  color: gray;
  font-weight: lighter;
}

.home .title {
  border: 3px solid #005792;
  border-radius: 10px;
  padding: 5px;
  color: #fff;
  background-color: #64c4ed;
  text-decoration: none;
  cursor: pointer;
}

.home .title:hover {
  background-color: #005792;
  color: #fff;
  border: 3px solid #64c4ed;
}

.home .heading {
  font-size: 40px;
  font-weight: 500;
  margin-top: 0;
  margin-bottom: 10px;
}

/* For medium devices */
@media screen and (max-width: 768px) {
  .home .heading {
    margin: 10px auto;
    width: 90%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }

  .home h1 {
    margin: 10px 10px 10px 10px;
    font-weight: 100;
    font-size: 55px;
  }

  .home h1 a {
    font-size: 30px;
  }
}

@media screen and (max-width: 480px) {
  .home h1 {
    margin: 10px 10px 10px 10px;
    text-align: justify;
    font-size: 45px;
    font-weight: 200;
  }

  .home h1 a {
    margin: 10px auto;
    text-align: center;
    width: 90%;
    display: block;
  }

  .home .heading {
    margin-top: 10px;
    margin-left: 40px;
    width: 90%;
    display: flex;
    flex-wrap: wrap;
  }
}
