.home h1 {
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-weight: 400;
  font-size: 70px;
  text-align: justify;
  margin: 80px 0 0 0;
}

.home strong {
  color: #005792;
}

.home h2 {
  color: gray;
  font-weight: lighter;
}

.home .title {
  border: 3px solid #005792;
  border-radius: 10px;
  padding: 5px;
  color: #fff;
  background-color: #64c4ed;
  text-decoration: none;
  cursor: pointer;
}

.home .title:hover {
  background-color: #005792;
  color: #fff;
  border: 3px solid #64c4ed;
}

.home .heading {
  font-size: 40px;
  font-weight: 500;
  margin-top: 0;
  margin-bottom: 10px;
}

@media screen and (max-width: 480px) {
  h1 {
    text-align: justify;
    font-weight: 200;
  }

  h1 span {
    margin-top: 10px;
    text-align: center;
    width: 100%;
    display: block;
  }

  .home .heading {
    margin-top: 10px;
    margin-left: 40px;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
  }
}
